.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
    padding: 1%;
}

.header-btn{
    border: none;
    background-color: blue;
    padding: 10px;
    color: white;
}

#signUp{
    margin-left: 10px;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#block-list-body{
    background-color: rgb(155, 154, 154);
}

#logo{
    font-family: 'Montez', cursive; 
    color: blue;
    font-size: xx-large;
    padding: 0;
    margin: 0;
}

#subhedding{
    font-family: 'Ubuntu Mono', monospace;
    color: black;
    font-size: medium;
    padding: 0;
    margin: 0;
}

/* .container{
    height: 100%;
    display: relative;
    top: 50%;
    left: 50%;
    transform: -50% -50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
} */

.postBtns{
    /* display: relative;
    top: 50%;
    left: 50%;
    transform: -50% -50%;
    align-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
}

#keyWsCreatePost{
    width: 50%;
    height: 60%;
}



.mainPostContainer, .modalCreatePost{
  
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

}

.modalPDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-self: center;
    
}

/* .modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
} */

.modalPDiv {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 30%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
  }

  .modal{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

.post-btns{
    border: none;
    background-color: rgb(181, 158, 8);
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    width: 120px;
    color: white;
}

.m1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#createPosts{
    margin-left: 10px;
}

label{
    padding-top: 10px;
    padding-bottom: 5px;
}

.submit{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: green;
    color: white;
}
.modal1{
   
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.modalSignIn{
   
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.modal2{
    background-color: white;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}

.container1{
    background-color: white;
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}


.modalCretPost{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}
input{
    
    width: 100%;
    height: 30px;
    background-color: rgb(237,237,237);
    border: none;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.fist {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;

  }

  #cross{
    align-self: self-end;
    padding: 10dp;

  }

  #notAMember{
    align-items: center;
  }

  .notMemberParent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  #signUpPopUpLink{
    color: blue;
    cursor: pointer;
  }

  .main-model-create-post{
    width: 100%;
    height: 100%;
    background-color: red;
  }

  #post-title{
    margin-top: 30px;
    margin-bottom: 10px;
    position: fixed;
  }

  #post-content{
    width: 100%;
    padding: 8px;
    margin-top: 20px;
    min-height: 30%;
    box-sizing: border-box;
    resize: vertical;
    background-color: rgb(237,237,237);
    border: none;
    outline: none;
  }

  .closePost{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #closePostBtn{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    font-size: medium;
  }

  #create_post_id{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }